/* remove default browser styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* background color */
body {
  background-color: hsl(226, 43%, 10%);
}

/* basic grid layout */
.grid-container {
  display: grid;
  padding-top: 125px;
  justify-content: center;
  /* 2 rows and 4 columns, 200px each item */
  grid-template-rows: repeat(2, 220px);
  grid-template-columns: repeat(4, 220px);
  grid-gap: 20px;
}

/* round off all grid items */
[class*="grid-item"] {
  border-radius: 10px;
}
/* entire first column item styling */
.daily-weekly-monthly {
  grid-row: 1 / 3;
  grid-area: 1 / 1 / 3 / 1;
  background-color: hsl(235, 46%, 20%);
}

/* styling for other elements (picture-name to self-care) */
.picture-name {
  grid-area: 1 / 1 / 2 / 1;
  height: 320px;
  background-color: hsl(235, 45%, 61%);
}

.background-1 {
  grid-area: 1 / 2 / 1 / 2;
  background-color: hsl(15, 100%, 70%);
}

.work {
  grid-area: 1 / 2 / 1 / 2;
  background-color: hsl(235, 46%, 20%);
  height: 175px;
  margin-top: 50px;
}

.background-2 {
  grid-area: 1 / 3 / 1 / 3;
  background: hsl(348, 100%, 68%);
}

.study {
  grid-area: 1 / 3 / 1 / 3;
  background-color: hsl(235, 46%, 20%);
  height: 175px;
  margin-top: 50px;
}

.background-3 {
  grid-area: 1 / 4 / 1 / 4;
  background-color: hsl(195, 74%, 62%);
}

.play {
  grid-area: 1 / 4 / 1 / 4;
  background-color: hsl(235, 46%, 20%);
  height: 175px;
  margin-top: 50px;
}

.background-4 {
  grid-area: 2 / 2 / 2 / 2;
  background-color: hsl(145, 58%, 55%);
}

.exercise {
  grid-area: 2 / 2 / 2 / 2;
  background-color: hsl(235, 46%, 20%);
  height: 175px;
  margin-top: 50px;
}

.background-5 {
  grid-area: 2 / 3 / 2 / 3;
  background-color: hsl(264, 64%, 52%);
}

.social {
  grid-area: 2 / 3 / 2 / 3;
  background-color: hsl(235, 46%, 20%);
  height: 175px;
  margin-top: 50px;
}

.background-6 {
  grid-area: 2 / 4 / 2 / 4;
  background-color: hsl(43, 84%, 65%);
}

.self-care {
  grid-area: 2 / 4 / 2 / 4;
  background-color: hsl(235, 46%, 20%);
  height: 175px;
  margin-top: 50px;
}

/* push svgs to the right */
svg {
  margin-left: 135px;
}

/* all text styling */
.text {
  font-family: "Rubik", sans-serif;
  color: white;
}

/* titles styling */
.title {
  margin-top: 25px;
  margin-left: 25px;
  font-size: 18px;
}

/* current hours styling */
.current {
  margin-left: 25px;
  margin-top: 20px;
  font-size: 45px;
  font-weight: 100;
}

/* last row styling */
.last {
  margin-left: 25px;
  margin-top: 15px;
  font-weight: 100;
  opacity: 75%;
}

/* push text downwards */
.dwm {
  margin-top: 340px;
}

/* style each of the three dots */
.dot {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

/* push dots up and right */
.three-dots {
  /* margin-top: 150px; */
  margin-left: 177px;
  margin-top: -130px;
}

/* styling for daily weekly monthly text */
#daily,
#weekly,
#monthly {
  color: white;
  margin-left: 45px;
  font-weight: 100;
  font-family: "Rubik", sans-serif;
  line-height: 2;
  opacity: 70%;
  font-size: 15px;
}

/* styling for image */
#image {
  width: 100px;
  margin-left: 60px;
  margin-top: 15px;
  border: 2px solid white;
  border-radius: 50%;
}

/* name of the guy */
.name {
  font-family: "Rubic", sans-serif;
  color: white;
  font-weight: 100;
  font-size: 45px;
  margin-left: 25px;
}

/* report for styling */
.report-for {
  font-size: 20px;
  margin: 15px 35px;
}

/* hovering over daily/weekly/monthly */
#daily:hover,
#weekly:hover,
#monthly:hover {
  opacity: 100%;
  text-decoration: underline;
}

.title:hover {
  text-decoration: underline;
}

.work:hover,
.play:hover,
.exercise:hover,
.study:hover,
.social:hover,
.self-care:hover {
  background-color: hsl(236, 40%, 47%);
}
