/* remove default browser styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* background color */
body {
  background-color: hsl(226, 43%, 10%);
}

.grid-container {
  display: grid;
  /* align content not supported, align items does something else, 
  vertically centered */
  padding-top: 125px;
  /* horizontally centered */
  justify-content: center;
  /* 2 rows and 4 columns, 200px each item */
  grid-template-rows: repeat(2, 220px);
  grid-template-columns: repeat(4, 220px);
  grid-gap: 20px;
}

/* color all grid-items */
[class*="grid-item"] {
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
}

.daily-weekly-monthly {
  grid-row: 1 / 3;
}

.picture-name {
  grid-area: 1 / 1 / 2 / 1;
  height: 320px;
  background-color: hsl(235, 45%, 61%);
}

.daily-weekly-monthly {
  grid-area: 1 / 1 / 3 / 1;
  background-color: hsl(235, 46%, 20%);
}
/* row start / column start / row end / column end */

.background-1 {
  grid-area: 1 / 2 / 1 / 2;
  background-color: hsl(15, 100%, 70%);
}

.work {
  grid-area: 1 / 2 / 1 / 2;
  background-color: hsl(235, 46%, 20%);
  height: 175px;
  margin-top: 50px;
}

.background-2 {
  grid-area: 1 / 3 / 1 / 3;
  background: hsl(348, 100%, 68%);
}

.study {
  grid-area: 1 / 3 / 1 / 3;
  background-color: hsl(235, 46%, 20%);
  height: 175px;
  margin-top: 50px;
}

.background-3 {
  grid-area: 1 / 4 / 1 / 4;
  background-color: hsl(195, 74%, 62%);
}

.play {
  grid-area: 1 / 4 / 1 / 4;
  background-color: hsl(235, 46%, 20%);
  height: 175px;
  margin-top: 50px;
}

.background-4 {
  grid-area: 2 / 2 / 2 / 2;
  background-color: hsl(145, 58%, 55%);
}

.exercise {
  grid-area: 2 / 2 / 2 / 2;
  background-color: hsl(235, 46%, 20%);
  height: 175px;
  margin-top: 50px;
}

.background-5 {
  grid-area: 2 / 3 / 2 / 3;
  background-color: hsl(264, 64%, 52%);
}

.social {
  grid-area: 2 / 3 / 2 / 3;
  background-color: hsl(235, 46%, 20%);
  height: 175px;
  margin-top: 50px;
}

.background-6 {
  grid-area: 2 / 4 / 2 / 4;
  background-color: hsl(43, 84%, 65%);
}

.self-care {
  grid-area: 2 / 4 / 2 / 4;
  background-color: hsl(235, 46%, 20%);
  height: 175px;
  margin-top: 50px;
}

svg {
  margin-left: 135px;
}

.text {
  font-family: "Rubik", sans-serif;
  color: white;
}

.title {
  margin-top: 25px;
  margin-left: 25px;
  font-size: 18px;
}

.current {
  margin-left: 25px;
  margin-top: 20px;
  font-size: 45px;
  font-weight: 100;
}

.last {
  margin-left: 25px;
  margin-top: 15px;
  font-weight: 100;
  opacity: 75%;
}

.dwm {
  margin-top: 340px;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.three-dots {
  /* margin-top: 150px; */
  margin-left: 177px;
  margin-top: -130px;
}
#daily,
#weekly,
#monthly {
  color: white;
  margin-left: 45px;
  font-weight: 100;
  font-family: "Rubik", sans-serif;
  line-height: 2;
  opacity: 70%;
  font-size: 15px;
}

#image {
  width: 100px;
  margin-left: 60px;
  margin-top: 15px;
  border: 2px solid white;
  border-radius: 50%;
}

.name {
  font-family: "Rubic", sans-serif;
  color: white;
  font-weight: 100;
  font-size: 45px;
  margin-left: 25px;
}

.report-for {
  font-size: 20px;
  margin: 15px 35px;
}
